body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Background color */
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #7f07ff; /* Background color for container */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgb(255, 0, 217);
    width: 90%;
    max-width: 400px;
}

/* TODO: Add styles for labels, inputs, buttons, and output text */
h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #000000; /* Header color */
}

/* Add more styles here as needed */
#generateBtn {
    color: rgb(2, 2, 2);
    background-color: rgb(255, 252, 255);
}
#copyBtn {
    color: black;
    background-color: rgb(255, 0, 102);
}
button {
    padding: 17px 20px;
    margin: 10px;
}